.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  z-index: 2; /* Ensure it is above other elements */
}

.navigation-pill-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  display: flex;
  align-items: center;
  background: #bec8e1;
  border-radius: 25px;
  padding: 10px;
}

.logo-box img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.build-a-bag {
  color: #2c2c2c;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}

.header-auth {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 3; /* Ensure it is above background elements */
}

.profile-button {
  background: #bec8e1;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: #a7b8d7;
}

.clickable {
  user-select: none;
}
