$blue: #bec8e1;
$background-color: #e7e7e7;
$module-color: #dadada;
$text-color: #2c2c2c;
$inner-border: 25px;
$outer-border: 35px;

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%rounded-module {
  background: $module-color;
  border-radius: $outer-border;
}

%rounded-title {
  background: $blue;
  border-radius: $inner-border;
}

%pill-dimensions {
  padding: 0 15px;
  width: auto;
  height: 50px;
  @extend %flex-center;
}

%text-style {
  color: $text-color;
  font-weight: 700;
}