@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter-Bold", sans-serif;
    scroll-behavior: smooth;
}

.clickable:hover {
    cursor: pointer;
    opacity: 0.8;
}